
<div class="container mt-4">
  <div class="row">
    <div class="col">
      <button routerLink="/"type="button" class="btn btn-info mr-1">Home</button>
      <button routerLink="/student"type="button" class="btn btn-danger">Student Registration</button>
      <button routerLink="/registrar"type="button" class="btn btn-info">Registrar</button>
      <button routerLink="/advisor"type="button" class="btn btn-info">Advisor</button>
    </div>
    <div class="col">
      <h1 class="text-center" >Welcome to Student Registration WebApp</h1>
    </div>

  </div>
  </div>
