<div class="container">
  <h2 class="text-center">Student Registration Form</h2>
  <form [formGroup]="addForm" (ngSubmit)="save()" class="form-class">

    <div class="form-group">
      <label class="col-sm-2 col-form-label">
        Student Full Name: <input class="form-control" formControlName="name" placeholder="Student Name"/>
      </label>
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label">
        E-mail: <input class="form-control" formControlName="email" placeholder="your best e-mail"/>
      </label>
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label">
        Reason why you want to enroll in this program: <input class="form-control" formControlName="reason" placeholder="state all reasons do you want to be part of this program"/>
      </label>
    </div>
    <div class="row">
      <div class="col-8">
        <br/>
        <button class="btn btn-primary" type="submit">Save Data</button>

      </div>

    </div>

    <div *ngIf="savedData" class="bg-success">
      <p  >{{saveSuccessMessage}}</p>
    </div>
  </form>
</div>

<div>
  <app-registrations-page></app-registrations-page>
</div>
